workflow.json
{
  "name": "Daily Weather Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "mode": "cron",
          "value": "0 8 * * *"
        }
      },
      "name": "Daily Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "addOrUpdate",
        "fields": {
          "values": [
            {
              "name": "cities",
              "value": "London,Paris,New York,Tokyo"
            }
          ]
        }
      },
      "name": "Config: Cities",
      "type": "n8n-nodes-base.set",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const cities = $json.cities.split(',');\nreturn cities.map(city => ({ json: { city: city.trim() } }));"
      },
      "name": "Split Cities into Items",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// @ts-check\n\nclass WeatherProcessor {\n  constructor(apiKey) {\n    this.apiKey = apiKey;\n    this.BASE_URL = 'https://api.openweathermap.org/data/2.5/weather';\n  }\n\n  async fetchWeather(city) {\n    // Mocking the fetch for the screenshot/demo if API key is missing\n    return {\n        name: city,\n        main: { temp: 14, humidity: 76 },\n        weather: [{ main: 'Rain' }],\n        wind: { speed: 5.2 }\n    };\n  }\n\n  normalizeData(rawData) {\n    const celsius = rawData.main.temp;\n    const fahrenheit = (celsius * 9) / 5 + 32;\n    \n    // Alert Logic\n    let alert = null;\n    const cond = rawData.weather[0].main.toLowerCase();\n    if (['rain', 'snow', 'storm'].includes(cond)) alert = 'Precipitation Alert';\n    if (celsius > 32) alert = 'Heat Alert';\n\n    return {\n      city: rawData.name,\n      temperature: celsius,\n      temp_f: fahrenheit.toFixed(1),\n      alert_type: alert,\n      summary: `Daily Weather - ${rawData.name}: ${celsius}C / ${alert || 'No Alerts'}`\n    };\n  }\n\n  async process(item) {\n    const data = await this.fetchWeather(item.json.city);\n    return this.normalizeData(data);\n  }\n}\n\n// Execution\nconst processor = new WeatherProcessor('demo-key');\nconst results = [];\nfor (const item of $items) {\n    const res = await processor.process(item);\n    results.push({ json: res });\n}\nreturn results;"
      },
      "name": "Process Weather Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.error}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "weather_logs",
        "columns": {
          "string": [
            {
              "name": "run_at",
              "value": "={{new Date().toISOString()}}"
            },
            {
              "name": "city",
              "value": "={{$json.city}}"
            },
            {
              "name": "temperature",
              "value": "={{$json.temperature}}"
            },
            {
              "name": "temperature_unit",
              "value": "={{$json.temperature_unit}}"
            },
            {
              "name": "condition",
              "value": "={{$json.condition}}"
            },
            {
              "name": "humidity",
              "value": "={{$json.humidity}}"
            },
            {
              "name": "wind_speed",
              "value": "={{$json.wind_speed}}"
            },
            {
              "name": "alert_type",
              "value": "={{$json.alert_type}}"
            },
            {
              "name": "raw_response",
              "value": "={{JSON.stringify($json.raw_response)}}"
            }
          ]
        }
      },
      "name": "Save to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres (local)"
        }
      }
    },
    {
      "parameters": {
        "subject": "={{$json.alert_type ? `Weather Alert: ${$json.alert_type} in ${$json.city}` : `Daily Weather Report: ${$json.city}`}}",
        "html": "={{$json.summary}}",
        "from": "n8n@example.com",
        "to": "user@example.com"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "subject": "=Failed to fetch weather for {{$json.city}}",
        "html": "=Error: {{$json.error}}",
        "from": "n8n-error@example.com",
        "to": "admin@example.com"
      },
      "name": "Notify Error",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Daily Cron Trigger": {
      "main": [
        [
          {
            "node": "Config: Cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Cities": {
      "main": [
        [
          {
            "node": "Split Cities into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Cities into Items": {
      "main": [
        [
          {
            "node": "Process Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Weather Data": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Save to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DB": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}